@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    padding: 0;
    margin: 0;
}

.btn {
    padding: 12px 24px;
    border-radius: 4px;
}

.brand-container {
    display: flex;
    gap: 4px;
    align-items: center;
}

.img-brand {
    width: 56px;
    height: 56px;
    border-radius: 100%;
}

.text-brand {
    font-size: 32px;
    font-weight: 700;
}

.selected {
    background-color: #A53DFF;
    color: white;
}

.nav-list {
    list-style-type: none;
    display: flex;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    width: 1200px;
    margin: auto;
}

.body {
    background-color: #f1f1f1;
}

.header {
    background-color: white;
    padding: 12px 0px;
}